<div class="grid">
  <div class="col-12">
    <div class="card form-card">
      <form [formGroup]="formGroup">

        <div class="p-field">
          <div class="grid">
            <div class="col-12">
              <label for="name">Name</label>
              <input type="text" pInputText id="name" formControlName="name">
              <div *ngIf="f['name'].errors && (submitted || f['name'].touched)">
                <span *ngIf="f['name'].hasError('required')" class="text-danger">Name is required</span>
             

            </div>

            </div>
          </div>
        </div>
        <div class="p-field">
          <div class="grid">
            <div class="col-12 description">
              <label for="description">Description</label>
              <textarea class="description" id="description" pInputTextarea formControlName="description"></textarea>
              <div *ngIf="f['description'].errors && (submitted || f['description'].touched)">
                <span *ngIf="f['description'].hasError('required')" class="text-danger">Description is required</span>

              </div>
            </div>


          </div>
        </div>

        <!-- Inventory Status Dropdown -->
        <div class="p-field">
          <div class="grid">
            <div class="col-6">
  <label for="status">Inventory Status</label>
          <p-dropdown class="description" formControlName="inventoryStatus" [options]="statuses" optionlabelValue="value" optionLabel="name" placeholder="select "> </p-dropdown>
            <div *ngIf="f['inventoryStatus'].errors && (submitted || f['inventoryStatus'].touched)">
                  <span *ngIf="f['inventoryStatus'].hasError('required')" class="text-danger">Inventory status is
                    required</span></div>
                  
         </div>
      
         <div class="col-6">
         <label for="category">Category</label>
                <p-dropdown class="description" formControlName="category" [options]="category" optionlabelValue="value" optionLabel="name" placeholder="select "> </p-dropdown>
                 <div *ngIf="f['category'].errors && (submitted || f['category'].touched)">
                  <span *ngIf="f['category'].hasError('required')" class="text-danger">Category status is
                    required</span>

                </div>
              </div>
            
           </div>
        </div>
 


        <div class="p-field">
          <div class="grid">
            <div class="col-6">
               <label for="price">Price</label>
              <p-inputNumber class="description" id="price" mode="currency" currency="USD" locale="en-US"
                formControlName="price"></p-inputNumber>
              <div *ngIf="f['price'].errors && (submitted || f['price'].touched)">
                <span *ngIf="f['price'].hasError('required')" class="text-danger">Price is required</span>
            </div>
            </div>

            <div class="col-6">
              <label for="quantity">Quantity</label>
              <p-inputNumber class="description" id="quantity" formControlName="quantity"></p-inputNumber>
              <div *ngIf="f['quantity'].errors && (submitted || f['quantity'].touched)">
                <span *ngIf="f['quantity'].hasError('required')" class="text-danger">Department is required</span>
               
            </div>

            </div>
          </div>
        </div>

        <!-- Submit Button -->
        <!-- <button type="submit" pButton label="Submit" (click)="AddUpdateUser()"></button> -->

        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" ></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="AddUpdateUser()"></button>
      </form>
    </div>

  </div>
  </div>





  <!-- 
    
<div class="grid">
  <div class="col-12">
    <div class="card form-card">

  
        <form [formGroup]="formGroup"> 
        <div class="p-field">
          <div class="grid">
            <div class="col-6">
              <label for="firstName">First Name</label>
              <input type="text" pInputText formControlName="firstName" />
              <div *ngIf="f['firstName'].errors && (submitted || f['firstName'].touched)">
                <span *ngIf="f['firstName'].hasError('required')" class="text-danger">FirstName is required</span>
                <span *ngIf="f['firstName'].errors['pattern']" class="text-danger">Only alphabets are allowed</span>

            </div>


            </div>
            <div class="col-6">
              <label for="lastName">Last Name</label>
              <input type="text" pInputText formControlName="lastName" />

              <div *ngIf="f['lastName'].errors && (submitted || f['lastName'].touched)">
                <span *ngIf="f['lastName'].hasError('required')" class="text-danger">LastName is required</span>
                <span *ngIf="f['lastName'].errors['pattern']" class="text-danger">Only alphabets are allowed</span>
            </div>


            </div>
          </div>
        </div>

        <div class="p-field">
          <div class="grid">
            <div class="col-6">
              <label for="email">Email</label>
              <input id="email" type="email" pInputText formControlName="email" required>
              <div *ngIf="f['email'].errors && (submitted || f['email'].touched)">
                <span *ngIf="f['email'].hasError('required')" class="text-danger">Email is required</span>
                <span *ngIf="f['email'].errors['pattern']" class="text-danger">Invalid email address</span>



         </div>
         </div>

            <div class="col-6">
              <label for="dob">Date of Birth</label>
              <input type="date" pInputText formControlName="dateOfBirth" required>

              <div *ngIf="f['dateOfBirth'].errors && (submitted || f['dateOfBirth'].touched)">
                <span *ngIf="f['dateOfBirth'].hasError('required')" class="text-danger">DateOfBirth is required</span>
            </div>
          </div>
        
          </div>
        </div>
     

 

        <div class="p-field">
          <div class="grid">
            <div class="col-6">
              <label for="Gender">Gender</label>
              <p-dropdown formControlName="selectedGender" [options]="gender" optionlabelValue="value" optionLabel="name" placeholder="select gender">
               
             
              </p-dropdown>
              <div *ngIf="f['selectedGender'].errors && (submitted || f['selectedGender'].touched)">
                <span *ngIf="f['selectedGender'].hasError('required')" class="text-danger">selectedGender is required</span>
            </div>
            </div>

            <div class="col-6">
              <label for="phoneNumber">Phone Number</label>
              <input id="phoneNumber" type="tel" pInputText formControlName="phoneNumber">

              <div *ngIf="f['phoneNumber'].errors && (submitted || f['phoneNumber'].touched)">
                <span *ngIf="f['phoneNumber'].hasError('required')" class="text-danger">Mobile number is
                  required</span>
              <span *ngIf="f['phoneNumber'].errors['minlength']" class="text-danger">Only 10 digits are
                  allowed</span>
              <span *ngIf="f['phoneNumber'].errors['maxlength']" class="text-danger">Only 10 digits are
                  allowed</span>
              <span *ngIf="f['phoneNumber'].errors['pattern']" class="text-danger">Only digits are
                  allowed</span>
            </div>

            </div>
          </div>
        </div>

        <div class="p-field">
          <div class="grid">
            <div class="col-6">
              <label for="address">Address</label>
              <input id="address" type="text" pInputText formControlName="address">

              <div *ngIf="f['address'].errors && (submitted || f['address'].touched)">
                <span *ngIf="f['address'].hasError('required')" class="text-danger">Address is required</span>
            </div>
            </div>

            <div class="col-6">
              <label for="department">Department</label>
              <input id="department" type="text" pInputText formControlName="department">

              <div *ngIf="f['department'].errors && (submitted || f['department'].touched)">
                <span *ngIf="f['department'].hasError('required')" class="text-danger">Department is required</span>
                <span *ngIf="f['department'].errors['pattern']" class="text-danger">string are required</span>
            </div>

            </div>
          </div>
        </div>


        <div class="p-field">
          <div class="grid">
            <div class="col-6">
              <label for="position">Position/Job Title</label>
              <input id="position" type="text" pInputText formControlName="position">

              <div *ngIf="f['position'].errors && (submitted || f['position'].touched)">
                <span *ngIf="f['position'].hasError('required')" class="text-danger">Position is required</span>
            </div>

            </div>

            <div class="col-6">
              <label for="Attendance">Attendance</label>
              <p-dropdown formControlName="selectedAttendance"  [options]="attendance" optionlabelName="name"  optionLabel="name" placeholder=" Select a attendance ">
                      

              </p-dropdown>
              <div *ngIf="f['selectedAttendance'].errors && (submitted || f['selectedAttendance'].touched)"  class="text-danger">
                <span *ngIf="f['selectedAttendance'].hasError('required')" class="text-danger">password is required</span>

            </div> 

            </div>
          </div>
        </div>
 <button type="submit" pButton label="Submit" (click)="AddUpdateUser()"></button>
      </form>
    </div>
  </div>
</div>
   -->