.form-card label,.form-card input{ width: 100%; margin-bottom: 5px; display: block;}
.form-card input{ border: 1px solid #ccc; border-radius:5px ; height: 40px;}
.text-danger{color: red;

}


// .form-container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding: 20px;
//   }
  
//   .form-card {
//     width: 100%;
//     padding: 20px;
//     border: 1px solid #ddd;
//     border-radius: 10px;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//   }
  
//   .p-field {
//     margin-bottom: 20px;
//   }
  
//   .field {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//   }
  
//   .field-radiobutton {
//     margin-bottom: 10px;
//   }
  
//   .formgrid {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//   }
  
//   .col-6 {
//     width: calc(50% - 10px);
//     margin: 10px;
//   }
  
//   .text-danger {
//     color: red;
//   }
  
//   .p-button-text {
//     background-color: #337ab7;
//     color: #fff;
//     border: none;
//     border-radius: 10px;
//     padding: 10px 20px;
//     cursor: pointer;
//   }
  
//   .p-button-text:hover {
//     background-color: #23527c;
//   }